html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2 {
  margin: 0rem;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9375rem;
  background-color: var(--n-very-light-gray);
  line-height: 1.3;
  margin: 0px;
  padding: 0px;
}

:root {
  --p-bright-orange: hsl(31, 77%, 52%);
  --p-dark-cyan: hsl(184, 100%, 22%);
  --p-very-dark-cyan: hsl(179, 100%, 13%);
  --n-transparent-white: hsla(0, 0%, 100%, 0.75);
  --n-very-light-gray: hsl(0, 0%, 95%);
}

main {
  margin: 5rem 1.25rem;
}

.card-container section:first-child {
  background-color: var(--p-bright-orange);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card-container section:first-child a {
  color: var(--p-bright-orange);
}

.card-container section:first-child a:hover {
  background-color: transparent;
  border: 1px solid var(--n-very-light-gray);
  color: var(--n-very-light-gray);
}

.card-container section:nth-child(2) {
  background-color: var(--p-dark-cyan);
}

.card-container section:nth-child(2) a {
  color: var(--p-dark-cyan);
}

.card-container section:nth-child(2) a:hover {
  background-color: transparent;
  border: 1px solid var(--n-very-light-gray);
  color: var(--n-very-light-gray);
}

.card-container section:last-child {
  background-color: var(--p-very-dark-cyan);
}

.card-container section:last-child a {
  color: var(--p-very-dark-cyan);
}

.card-container section:last-child a:hover {
  background-color: transparent;
  border: 1px solid var(--n-very-light-gray);
  color: var(--n-very-light-gray);
}

.card {
  padding: 0rem 3rem;
  padding-bottom: 3rem;
  padding-right: 4rem;
  line-height: 1.6;
}

.card img {
  padding-top: 3rem;
  width: 4rem;
}

.card h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2.3rem;
  color: var(--n-very-light-gray);
  margin-top: 1rem;
}

.card h2 {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2.3rem;
  color: var(--n-very-light-gray);
  margin-top: 1rem;
}

.card p {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--n-transparent-white);
  margin-bottom: 1.7rem;
}

.card a {
  text-decoration: none;
  background-color: white;
  padding: 0.7rem 1.25rem;
  border-radius: 2rem;
  font-size: 0.8rem;
}

@media (min-width: 46.875em) {
  main {
    margin: 5rem 10rem;
    text-align: center;
  }
  .card p {
    padding: 0rem 2rem;
  }
}

@media (min-width: 56.25em) {
  main {
    margin: 5rem 10rem;
  }
  .card p {
    padding: 0rem 5rem;
  }
}

@media (min-width: 68.75em) {
  main {
    margin: 14.5rem 5rem;
  }
  .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: start;
  }
  .card-container p {
    padding: 0rem 0rem;
    padding-right: 4rem;
    padding-bottom: 5rem;
  }
}

@media (min-width: 90em) {
  .card h1 {
    font-size: 3rem;
  }
  .card p {
    font-size: 1.1rem;
  }
  .card a {
    padding: 1rem 2rem;
    font-size: 1.15rem;
  }
}
/*# sourceMappingURL=style.css.map */