main {
  margin: 5rem 1.25rem;
}

.card-container {
  section:first-child {
    background-color: var(--p-bright-orange);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    a {
      color: var(--p-bright-orange);

      &:hover {
        background-color: transparent;
        border: 1px solid var(--n-very-light-gray);
        color: var(--n-very-light-gray);
      }
    }
  }

  section:nth-child(2) {
    background-color: var(--p-dark-cyan);

    a {
      color: var(--p-dark-cyan);

      &:hover {
        background-color: transparent;
        border: 1px solid var(--n-very-light-gray);
        color: var(--n-very-light-gray);
      }
    }
  }

  section:last-child {
    background-color: var(--p-very-dark-cyan);

    a {
      color: var(--p-very-dark-cyan);

      &:hover {
        background-color: transparent;
        border: 1px solid var(--n-very-light-gray);
        color: var(--n-very-light-gray);
      }
    }
  }
}

.card {
  padding: 0rem 3rem;
  padding-bottom: 3rem;
  padding-right: 4rem;
  line-height: 1.6;

  img {
    padding-top: 3rem;
    width: 4rem;
  }

  h1 {
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 2.3rem;
    color: var(--n-very-light-gray);
    margin-top: 1rem;
  }

  h2 {
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 2.3rem;
    color: var(--n-very-light-gray);
    margin-top: 1rem;
  }

  p {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--n-transparent-white);
    margin-bottom: 1.7rem;
  }

  a {
    text-decoration: none;
    background-color: white;
    padding: 0.7rem 1.25rem;
    border-radius: 2rem;
    font-size: 0.8rem;
  }
}

// 750px
@media (min-width: 46.875em) {
  main {
    margin: 5rem 10rem;
    text-align: center;
  }

  .card {
    p {
      padding: 0rem 2rem;
    }
  }
}

// 1000px
@media (min-width: 56.25em) {
  main {
    margin: 5rem 10rem;
  }
  .card {
    p {
      padding: 0rem 5rem;
    }
  }
}

// 1100
@media (min-width: 68.75em) {
  main {
    margin: 14.5rem 5rem;
  }
  .card-container {
    display: flex;
    text-align: start;

    p {
      padding: 0rem 0rem;
      padding-right: 4rem;
      padding-bottom: 5rem;
    }
  }
}

// 1440px
@media (min-width: 90em) {
  .card {
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.1rem;
    }

    a {
      padding: 1rem 2rem;
      font-size: 1.15rem;
    }
  }
}
